#header h1 sup,
#header .button,
#header .landmark,
#header .logo,
#greeting img.icon {
  display: none;
}

#inner.wrapper {
  margin: 0em 4%;
}


#header .heading {
  height: 200px;
  float: none;
  text-align: center;
}

#header {
  background-color: #ffe9c5;
  background-image: url("https://i.postimg.cc/R0gFPkGJ/Screen-Shot00124.jpg");
  background-repeat:space;
  background-position:center;
  background-size:cover;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 55px;
  margin-top: 2%;
}

#outer.wrapper {
  background: #e5daff url(https://cdn.pixabay.com/photo/2021/01/13/03/27/heart-5913128_1280.png) repeat;
}

#inner.wrapper {
  margin-top: 0.1%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0.5%;
}

#inner.wrapper {
  background: #e5daffd7;
  padding-top: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.1em;
  border: 0.5em solid #000000;
  border-radius: 15px;
  box-shadow: 0 0 10px #750686;
}

#greeting {
  background-color: #ffb1e4;
  border-radius: 10px;
  box-shadow: 0 0 20px #fff;
  float: none;
  align-content: center;

}

#header .user {
  float: none;
  align-items: self-start;
}

#header .primary {
  background: #ffb1e4;
  border-radius: 30px;
}

#header .heading a {
  color: #ffb1e4;
  font-size: 2em;
}

#header .primary li,
#header .primary li a,
#greeting li,
#greeting li a {
  color: #000000;
}

#footer {
  background: #ffb1e4;
  border-top: 4px solid;
  color: #000;
  font-size: 0.75em;
  padding: 0;
  width: 100%;
  border-radius: 15px;
}

#footer a, #footer button {
	color: #000;
}

#footer .heading {
	display: block;
	color: #000;
}

a.tag:hover,
.listbox .heading a.tag:visited:hover {
  background: #ffb1e4;
  color: #fff;
}

.splash .favorite li:nth-of-type(2n+1) a:hover, .splash .favorite li:nth-of-type(2n+1) a:focus {
	background: #ffb1e4;
}

#dashboard.own {
	background: #e5daff;
	border-top: 15px solid #ffb1e4;
	border-bottom: 15px solid #ffb1e4;
	opacity: 1.0;
	border-radius: 0.25em;
}

  #dashboard .current {
	background: #ffb1e4;
}

.notice, .comment_notice, .kudos_notice, ul.notes, .caution, .error, .comment_error, .kudos_error, .alert.flash {
	background: #ffb1e4;
	border: 1px solid #c2d2df;
	margin: 0.643em auto;
	padding: 0.25em 0.375em;
	clear: right;
	box-shadow: inset 1px 1px 2px;
	border-radius: 0.25em;
	word-wrap: break-word;
}



.fieldset fieldset.listbox {
	clear: right;
	background: #e5daff;
	border: 2px solid #e5daff;
	padding: 0;
	margin: 0.643em auto;
	overflow: hidden;
	box-shadow: 0 0 0 1px #ffb1e4;
}

.listbox .index {
	width: auto;
	padding: 0.643em;
	margin: 0;
	float: none;
	clear: right;
	box-shadow: inset 1px 1px 3px #e5daff;
  background: #e5daff;
}

.own, .draft, .draft .wrapper, .unread, .child, .unwrangled, .unreviewed {
	background: #ffb1e4;
	opacity: 0.95;
}

.comment h4.byline {
	background: #ffb1e4;
	padding: 0.25em 0.25em 0.25em 108px;
	margin: 0 auto -0.25em;
}